<!DOCTYPE html>
<html>
    <head>
        <title>CRUD API Frontend</title>
        <link rel="stylesheet" href="static/css/styles.css">
        <script type="text/javascript" src="static/js/books.js"></script>
</head>
<body>
    <header>
        <h1>CRUD API Frontend</h1>
    </header>
    <div class="container">
        <div>
            <h2>List Books</h2>
            <button onclick="ListBooks()">List Books</button>
            <ul id="books-list"></ul>
        </div>
        <div>
            <h2>Add Book</h2>
            <input id="add-book-title" placeholder="Title" />
            <input id="add-book-author" placeholder="Author" />
            <button onclick="addBook()">Add Book</button>
        </div>
        <div>
            <h2>Update Book</h2>
            <input id="update-book-index" placeholder="Index" />
            <input id="update-book-title" placeholder="Title" />
            <input id="update-book-author" placeholder="Author" />
            <button onclick="updateBook()">Update Book</button>
        </div>
        <div>
            <h2>Delete Book</h2>
            <input id="delete-book-index" placeholder="Index" />
            <button onclick="deleteBook()">Delete Book</button>
        </div>
    </div>
</body>
</html>
